<!DOCTYPE html>
<html>
<head>
    <title>New York</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <style>
        .heaG , a{
            font-size: 1em;
            text-decoration: underline;
            color: rgb(0, 4, 250);
            font-weight: 600;
            text-transform: uppercase;
            padding: 10px;
            text-align: initial !important;
        }
        body{
            align-items: center;
            text-align: center;
        }
        
    </style>
</head>
<body>
        
    <div class="heaG">
        <a href="/graph" class="animated-text">how the predictions were made</a>
    </div>

    <h1 id="dynamicText" style="margin-top: 90px; text-transform: uppercase;"> Find the perfect place for you! </h1>  
    <!-- Barra de Pesquisa -->
    <section style="margin-top: 20px;">
        <div class="grid" id="brpq"></div>
        <div id="poda">
            <div class="glow"></div>
            <div class="darkBorderBg"></div>
            <div class="darkBorderBg"></div>
            <div class="darkBorderBg"></div>
            <div id="main">
                <input placeholder="Search Hotel Name" type="text" id="searchInput" class="input" />
                <div id="input-mask"></div>
                <div id="pink-mask"></div>
                <div id="filter-icon" style="display: none;">
                </div>
                <div id="search-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" height="24" fill="none" class="feather feather-search">
                        <circle stroke="url(#search)" r="8" cy="11" cx="11"></circle>
                        <line stroke="url(#searchl)" y2="16.65" y1="22" x2="16.65" x1="22"></line>
                        <defs>
                            <linearGradient gradientTransform="rotate(50)" id="search">
                                <stop stop-color="#f8e7f8" offset="0%"></stop>
                                <stop stop-color="#b6a9b7" offset="0%"></stop>
                            </linearGradient>
                            <linearGradient id="searchl">
                                <stop stop-color="#b6a9b7" offset="0%"></stop>
                                <stop stop-color="#837484" offset="0%"></stop>
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
            </div>
        </div>
    </section>

    <!-- Resultados da Pesquisa -->
    <div id="searchResults" style="margin-top: 20px;"></div>

    <!-- Pop-up -->
    <div id="popup" class="popup">
        <div class="popup-content">
            <span id="closePopup" class="close">&times;</span>
            <h2>Detalhes do Hotel</h2>
            <ul id="popupDataList"></ul>
            <button id="predictButton" class="btn-17">
                <span class="text-container">
                    <span id="preve" class="text">Predict</span>
                </span>
            </button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/script.js"></script>
</body>
</html>